In [127]:
from bs4 import BeautifulSoup
import pandas as pd
from collections import namedtuple
from datetime import datetime

In [128]:
Question = namedtuple("Question", ["text", "score", "time", "user"])

In [129]:
def extract(filename):
    with open(filename) as f:
        soup = BeautifulSoup(f, 'html.parser')
        questions = soup.select("admin-event-questions-item")
        result = []
        for q in questions:
            text = q.select_one(".eq-item-content__text").get_text().strip()
            score = q.select_one(".eq-item-header__sub-text .eq-item-header__score").get_text()
            time_str = q.select(".eq-item-header__sub-text .l-mr0-5")[1].get_text()
            time = datetime.strptime("2019 " + time_str, "%Y %d %b, %I:%M%p") #https://docs.python.org/3/library/datetime.html
            user = q.select_one(".eq-item-header__text").get_text()
            result.append(Question(text,score,time,user))
    return result

In [130]:
result =  extract("live.html") + extract("archived.html")

In [131]:
df = pd.DataFrame(data=result).sort_values(by='time', ascending=False)

In [132]:
df = df.sort_values(by='time', ascending=False)
df = df[df['time'] > '2019-05-18']
df = df.reset_index(drop=True)

In [133]:
df.head()

,text,score,time,user
0,ถ้าในแต่ละวันเราทำงานในร้านเกิน 8 ชม.แต่เจ้าขอ...,0,2019-05-19 00:13:00,Anonymous
1,คนไทยด้วยกัน ร้านอาหารไทยช่วยลดราคาให้กันหน่อยจิ,0,2019-05-18 15:42:00,Anonymous
2,ถ้าพนักงานไม่สามารถทำ SSN ได้ เนื่องจาก over s...,2,2019-05-18 15:26:00,Anonymous
3,ถ้าจ่ายพนักงานเป็นรายวัน ถือเป็นความผิดมั้ย แล...,2,2019-05-18 15:15:00,Anonymous
4,ต้นทุนค่าใช้จ่ายอาหารคนงานประมาณ$3ต่อคนต่อมื้อ...,0,2019-05-18 15:13:00,Anonymous

In [134]:
df.to_csv("questions.csv")